<!DOCTYPE html>
<html>
	<head>
		
		{% block title %}
		{% endblock %}
		<title>Experience 280</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="Experience 280.">
		<meta name="keywords" content="Experience, online, class, classes, Hong Kong">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
		{% block header %}
		{% endblock %}
		
	</head>
	<body>
		<div id="header-inner">
		
		<div id="top-panel">
			
			<div id="left-top-panel">
				<h1 id="header-name"><a href="/">Experience 280</a> </h1>
			</div>
			
				<div id="right-top-panel">
					<a href="/"><i class="icon-home icon-white"></i> Web 首頁</a>
					
				</div>
				<div id="right-top-panel-btn">
					<!--<a id="post-a-task" href="/post">Post A Class</a>-->
				</div>
		</div>
		</div><!--end of header-inner-->
		
		<div id="top-menu" class="navbar navbar-inverse navbar-static-top">
		<div id="inner-top-menu" class="navbar-inner">
			<ul class="nav nav-pills">
				
				<li><a href="/admin-panel"><i class="icon-tasks icon-white"></i> Home</a></li>
				<li><a href="/admin/create"><i class="icon-book icon-white"></i> Create a Post</a></li>
				<li><a href="/admin/logout"><i class="icon-th-list icon-white"></i> Logout</a></li>
			</ul>
		</div>
		</div>
		
		
		<br>
		<div id="notification"></div>
			{% block toppanel %}
			{% endblock %}
		<div id="container">
			{% block content %}
			{% endblock %}
		</div>
		
			{% block secondary %}
			{% endblock %}
			
		<div id="footer">
			<div id="footer-panel">
			<ul>
				<li><a href="/privacy-policy">隱私政策</a></li>
				<li><a href="/disclaimer">免責聲明</a></li>
				<li><a href="/how-it-works">如何運作</a></li>
				<li><a href="/about">關於 Experience 280</a></li>
				<li>Copyright © 2013 GoGoTask Limited</li>
			</ul>
			
			</div>
		</div>
	{% block script%}
	{% endblock %}
	
	<script>
	entering_url = window.location.href;
	
	</script>
	
	<script src="/js/jquery-1.9.0.min.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
	{% block scriptbottom %}
	{% endblock %}
	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-39831402-1', 'gogotask.co');
	  ga('send', 'pageview');

	</script>
	</body>
	
	
	
</html>